.main-section {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  max-height: 90%;
  z-index: 2;

  @media screen and (min-width: 1200px) {
    left: 20%;
    width: 40%;
  }

  h1 {
    color: #fff;
    font-size: clamp(32px, 6vw, 48px);
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    position: relative;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      top: -25px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      bottom: -25px;
      left: 10px;
      opacity: 0.6;
      animation: fadeIn 1s 1.7s backwards;

      @media screen and (min-width: 1200px) {
        left: 290px;
        bottom: 20px;
      }
    }
  }

  p {
    color: #8d8d8d;
    margin-top: 30px;
    font-weight: 400;
    font-size: clamp(12px, 1.5vw, 14px);
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.9s backwards;
    margin-bottom: 20px;

    @media screen and (max-width: 1200px) {
      font-size: 12px;
      max-width: 90%;
    }
  }

  .flat-button {
    color: #08CB00;
    width: 39%;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    padding: 14px 10px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #08CB00;
    margin-top: 15px;
    margin-right: 15px;
    float: left;
    animation: fadeIn 1s 1.9s backwards;
    white-space: nowrap;
    text-align: center;

    @media screen and (max-width: 1200px) {
      font-size: 9px;
      padding: 12px 18px;
      width: 30%;
      letter-spacing: 2px;
    }

    &:hover,
    &:active {
      background: #08CB00;
      color: #333;
    }
  }
}