.page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
}

.top-tags {
  position: absolute;
  top: 35px;
  left: 120px;
  z-index: 2;

  @media screen and (max-width: 1199px) {
    top: 80px;
    left: 20px;
  }
}

.tags {
  color: #08CB00;
  opacity: 0.6;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
  position: absolute;
}

.bottom-tags {
  position: absolute;
  bottom: 20px;
  left: 120px;
  z-index: 2;

  @media screen and (max-width: 1199px) {
    left: 20px;
    bottom: 10px;
  }
}

.bottom-tag-html {
  margin-left: -20px;
  display: block;
}

.container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  z-index: 1;
  opacity: 0;
  animation: fadeIn 1s forwards 1s;

  @media screen and (max-width: 1199px) {
    top: 140px;
    height: auto;
    min-height: auto;
    padding-bottom: 80px;
  }
}