.about-section {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  max-height: 90%;
  z-index: 2;

  @media screen and (min-width: 1200px) {
    left: 20%;
    width: 40%;
  }

  h1 {
    color: #fff;
    font-size: clamp(32px, 6vw, 48px);
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    position: relative;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      top: -25px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      bottom: -25px;
      left: 10px;
      opacity: 0.6;
      animation: fadeIn 1s 1.7s backwards;

      @media screen and (min-width: 1200px) {
        left: 220px;
        bottom: 20px;
      }
    }
  }

  p {
    color: #8d8d8d;
    margin-top: 30px;
    font-weight: 400;
    font-size: clamp(12px, 1.5vw, 14px);
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.9s backwards;
    margin-bottom: 20px;

    @media screen and (max-width: 1200px) {
      font-size: 12px;
      max-width: 90%;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .info-item {
    width: 42%;
    padding-top: 6px;
    padding-bottom: 12px;
    border: 1px solid #08CB00;
    text-align: center;
    font-family: sans-serif;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;

    h2 {
      font-size: 11px;
      color: #fff;
      margin-bottom: 4px;

      @media screen and (max-width: 1200px) {
        font-size: 8px;
      }
    }

    strong {
      font-size: 12px;
      color: #08CB00;

      @media screen and (max-width: 1200px) {
        font-size: 9px;
      }
    }

    a {
      display: block;
      font-size: 15px;
      line-height: 16px;
    }
  }

  .item-0 { animation-delay: 2.0s; }
  .item-1 { animation-delay: 2.15s; }
  .item-2 { animation-delay: 2.30s; }
  .item-3 { animation-delay: 2.45s; }

  .return-button {
    color: #08CB00;
    width: 10%;
    font-size: 10px;
    padding: 8px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #08CB00;
    margin-top: 15px;
    float: left;
    animation: fadeIn 1s 2.6s backwards;
    text-align: center;

    @media screen and (max-width: 1200px) {
      font-size: 8px;
    }

    &:hover,
    &:active {
      background: #08CB00;
      color: #333;
    }
  }
}
