.about-section {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  max-height: 90%;

  h1 {
    color: #fff;
    font-size: 48px;
    margin-top: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -20px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 12px;
      left: 220px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  p {
    color: #8d8d8d;
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    margin-bottom: 16px;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .info-item {
    //flex: 0 0 calc(45% - 15px);
    width: 42%;
    padding-top: 6px;
    padding-bottom: 12px;
    border: 1px solid #ffd700;
    text-align: center;
    font-family: sans-serif;
    //background: rgba(0, 0, 0, 0.2);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;

    h2 {
      font-size: 11px;
      color: #fff;
      margin-bottom: 4px;
    }

    strong {
      font-size: 12px;
      color: #ffd700;
    }

    a {
      display: block;
      font-size: 15px;
      line-height: 16px;
    }
  }

  .item-0 { animation-delay: 2.0s; }
  .item-1 { animation-delay: 2.15s; }
  .item-2 { animation-delay: 2.30s; }
  .item-3 { animation-delay: 2.45s; }

  .return-button {
    color: #ffd700;
    width: 10%;
    font-size: 10px;
    padding: 8px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #ffd700;
    margin-top: 15px;
    float: left;
    animation: fadeIn 1s 2.6s backwards;
    text-align: center;

    &:hover,
    &:active {
      background: #ffd700;
      color: #333;
    }
  }
}
