.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    max-height: 90%;
    z-index: 2;

    @media screen and (min-width: 1200px) {
      left: 20%;
      width: 40%;
    }
  }

  h1 {
    color: #fff;
    font-size: clamp(32px, 6vw, 48px);
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    position: relative;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      top: -25px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      bottom: -25px;
      left: 10px;
      opacity: 0.6;
      animation: fadeIn 1s 1.7s backwards;

      @media screen and (min-width: 1200px) {
        left: 340px;
        bottom: 20px;
      }
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 30px;
    font-weight: 400;
    font-size: clamp(12px, 2vw, 14px);
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  p {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: clamp(10px, 1.5vw, 12px);
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.9s backwards;
  }

  .flat-button {
    color: #08CB00;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #08CB00;
    margin-top: 25px;
    display: inline-block;
    animation: fadeIn 1s 1.9s backwards;
    white-space: nowrap;

    &:hover {
      background: #08CB00;
      color: #333;
    }
  }
}
