.home-page {
  .text-zone {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 48px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      margin-top: -20px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      margin-top: 20px;
      left: 340px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  p {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.9s backwards;
  }

  .flat-button {
    color: #08CB00;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #08CB00;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.9s backwards;
    white-space: nowrap;

    &:hover {
      background: #08CB00;
      color: #333;
    }
  }
}
