.contact-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    max-height: 90%;
    z-index: 2;
    margin-top: 60px;

    @media screen and (min-width: 1200px) {
      left: 20%;
      width: 40%;
    }
  }

  h1 {
    color: #fff;
    font-size: clamp(32px, 6vw, 48px);
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    position: relative;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      top: -25px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      bottom: -25px;
      left: 10px;
      opacity: 0.6;
      animation: fadeIn 1s 1.7s backwards;

      @media screen and (min-width: 1200px) {
        left: 230px;
        bottom: 20px;
      }
    }
  }

  p {
    color: #8d8d8d;
    margin-top: 30px;
    font-weight: 400;
    font-size: clamp(12px, 1.5vw, 14px);
    font-family: sans-serif;
    letter-spacing: 2px;
    animation: fadeIn 1s 1.9s backwards;
  }

  .contact-form {
    width: 95%;
    margin-top: 20px;

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s forwards;
      }

      .half {
        width: 48.5%;
        float: left;
      }

      .half + .half {
        margin-left: 3%;
      }

      li.full {
        width: 100%;
        float: left;
        clear: both;
        margin-top: 10px;
      }
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 1px solid #08CB00;
      background: none;
      height: 40px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }

    textarea {
      width: 100%;
      border: 1px solid #08CB00;
      background: none;
      height: 100px;
      font-size: 16px;
      color: #fff;
      padding: 10px 20px;
      resize: none;
      box-sizing: border-box;
    }

    .flat-button {
      color: #08CB00;
      background: none;
      font-size: 11px;
      letter-spacing: 3px;
      padding: 8px 10px;
      border: 1px solid #08CB00;
      float: right;
    }
  }
}
