.contact-page {
  .text-zone {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 48px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      margin-top: -20px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #08CB00;
      font-size: 18px;
      position: absolute;
      margin-top: 20px;
      left: 230px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  p {
    color: #8d8d8d;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }

      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 1px solid #08CB00;
      background: none;
      height: 40px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }

    textarea {
      width: 100%;
      border: 1px solid #08CB00;
      background: none;
      height: 150px;
      font-size: 16px;
      color: #fff;
      padding: 10px 20px;
      box-sizing: border-box;
      resize: none;

      &:focus {
        outline: none;
      }
    }

    .flat-button {
      color: #08CB00;
      background: 0 0;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #08CB00;
      float: right;
    }
  }
}
