.nav-bar {
  background: #000000;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  @media screen and (max-width: 1199px) {
    width: 100%;
    height: 60px;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    @media screen and (max-width: 1199px) {
      position: static;
      height: auto;
      width: auto;
      margin-top: 0;
      display: flex;
    }

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      position: relative;
      text-decoration: none;

      @media screen and (max-width: 1199px) {
        padding: 0 15px;
        line-height: 60px;
      }

      i {
        transition: all 0.3s ease-out;
      }

      &:hover svg{
        color: #08CB00;
      }
    }

    a.active {
      svg {
        color: #08CB00;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    @media screen and (max-width: 1199px) {
      position: static;
      width: auto;
      display: flex;
      padding: 0 15px;
      line-height: 60px;
    }

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        @media screen and (max-width: 1199px) {
          position: static;
          width: auto;
          display: flex;
          padding: 0 20px;
          line-height: 60px;
        }

        &:hover svg {
          color: #08CB00;
        }
      }
    }
  }
}
