.my-image-container {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #08CB00;
  animation: glow-border 3s ease-in-out infinite;
}

@keyframes glow-border {
  0% {
    border-color: #08CB00;
    box-shadow: 0 0 5px #08CB00;
  }
  50% {
    border-color: #4BFF47;
    box-shadow: 0 0 20px #4BFF47;
  }
  100% {
    border-color: #08CB00;
    box-shadow: 0 0 5px #08CB00;
  }
}

@media (max-width: 1400px) {
  .my-image-container {
    display: none;
  }
}